@charset "utf-8";

@font-face {
  font-family: "NS DL";
  src: url("./font/NotoSans-DemiLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NS RG";
  src: url("./font/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NS MD";
  src: url("./font/NotoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NS BD";
  src: url("./font/NotoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@keyframes graphBarIn {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    width: 100%;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes graphTextIn {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
html,
body {
  font-family: "NS DL", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD,
    "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif;
  word-wrap: break-word;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #000;
}
#content .content_partners .graph_info {
  font-family: "basic-sans", sans-serif, "Malgun Gothic", Dotum, "돋움",
    AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
}
#content .content_partners .graph_info_unit {
  font-family: "NS DL";
  font-size: 20px;
  font-weight: 300;
}

/* visual */
#container #visual {
  --bg: rgb(255, 200, 9);
  background-color: var(--bg);  
  position: relative;
  width: 100%;
  min-width: 1200px;
  transition: all 0.25s ease;
  height: 100vh;
}

#container #visual .visual_text .visual_text_img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease;
}
#container #visual .visual_text {
  background: url(./images/index/@main_text.png) no-repeat 50% / contain;
  height: 100%;
}
#container #visual .visual_text .img1 {
  background: url(./images/index/@main_1.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img2 {
  background: url(./images/index/@main_2.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img3 {
  background: url(./images/index/@main_3.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img4 {
  background: url(./images/index/@main_4.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img5 {
  background: url(./images/index/@main_5.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img6 {
  background: url(./images/index/@main_6.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img7 {
  background: url(./images/index/@main_7.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img8 {
  background: url(./images/index/@main_8.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img9 {
  background: url(./images/index/@main_9.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img10 {
  background: url(./images/index/@main_10.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}
#container #visual .visual_text .img11 {
  background: url(./images/index/@main_11.png) no-repeat 50% / contain;
  height: 100%;
  opacity: 0;
}

/* content */
#container #content {
  width: 100%;
  position: relative;
}

/* content_service */
#container #content .content_service {
  position: relative;
  margin: 150px auto;
  padding: 0 0 30px;
  max-width: 1200px;
  width: 100%;
  height: 2475px;
  box-sizing: border-box;
}
#container #content .content_service .content_service_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.content_service .content_service_wrapper .content_service_head {
  position: sticky;
  top: 150px;
}
.content_service .content_service_head .content_service_head_title {
  font-size: 40px;
  font-family: "NS BD";
}
.content_service
  .content_service_head
  .content_service_head_title
  .title_label {
  display: block;
  color: #ea2126;
  margin: 0 0 30px;
  font-size: 20px;
  font-family: "NS BD";
}
.content_service .content_service_head .content_service_head_desc {
  font-family: "NS RG";
  font-size: 18px;
  margin: 15px 0 0;
}
.content_service .content_service_head .content_service_head_button {
  margin: 50px 0 0;
  display: block;
}
.content_service .content_service_head .content_service_head_button a {
  border-radius: 5px;
  background-color: #ea2126;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: 13px 50px;
  font-family: "NS BD";
  font-size: 16px;
}
.content_service .content_service_wrap {
  display: flex;
  flex-wrap: wrap;
  /* position: absolute;
    top: 0;
    right: 0; */
  width: 65%;
}
.content_service .content_service_wrap .content_service_wrap_box {
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: #fff;
  width: 100%;
  border-radius: 24px;
}
.content_service .content_service_wrap .content_service_wrap_box::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  max-width: inherit;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.32),
    25%,
    rgba(0, 0, 0, 0)
  );
}
.content_service .content_service_wrap .content_service_wrap_box .box_title {
  font-family: "NS BD";
  font-size: 22px;
}
.content_service
  .content_service_wrap
  .content_service_wrap_box
  .contents_desc {
  font-family: "NS RG";
  font-size: 16px;
}
.content_service .content_service_wrap .content_service_wrap_box .box_button {
  font-family: "NS MD";
  font-size: 16px;
}
.content_service .content_service_wrap .content_service_wrap_box:nth-child(2n) {
  transform: translateY(40px);
}
.content_service .content_service_wrap .content_service_wrap_box {
  max-width: 350px;
  height: 450px;
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 48px;
  transition: 0.5s ease;
}
.content_service .content_service_wrap .box1 {
  background: url(./images/index/block1.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box2 {
  background: url(./images/index/block2.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box3 {
  background: url(./images/index/block3.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box3 {
  background: url(./images/index/block3.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box4 {
  background: url(./images/index/block4.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box5 {
  background: url(./images/index/block5.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box6 {
  background: url(./images/index/block6.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box7 {
  background: url(./images/index/block7.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box8 {
  background: url(./images/index/block8.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box9 {
  background: url(./images/index/block9.png) no-repeat 50% / cover;
  opacity: 0;
}
.content_service .content_service_wrap .box10 {
  background: url(./images/index/block10.png) no-repeat 50% / cover;
  opacity: 0;
}
.slide{
  opacity: 1;
}
.content_service
  .content_service_wrap
  .content_service_wrap_box
  .contents_desc {
  margin-top: 12px;
  line-height: 26px;
}
.content_service .content_service_wrap .content_service_wrap_box .box_button {
  position: absolute;
  left: 48px;
  bottom: 48px;
}
.content_service .content_service_wrap .content_service_wrap_box .box_button i {
  position: relative;
}
.content_service
  .content_service_wrap
  .content_service_wrap_box
  .box_button
  i:after {
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 2px;
  color: #fff;
  position: absolute;
  top: calc(50% - 4px);
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
  border-radius: 1px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-bottom-width: 2px;
}

/* content_performance */

#container #content .content_performance {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

/* left */
#container #content .content_performance .content_performance_left {
  min-width: 32.292%;
}

#container
  #content
  .content_performance
  .content_performance_left
  .left_title_box {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 60px;
  font-family: "NS BD";
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: url(./images/index/@bg_box-1.jpg) no-repeat center 0 / cover;
  transition: all 1s ease;
  z-index: 3;
}

/* #container #content .content_performance .content_performance_left .left_title_box p{} */

#content
  .content_performance
  .content_performance_left
  .left_title_box
  .left_title_box_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  position: relative;
  cursor: pointer;
  background-color: #000000;
  border-radius: 50%;
  background-size: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./images/index/i__arrow_right-white.png);
  transition: all 1s ease;
}

#content .content_performance .content_performance_left .left_box {
  right: 100%;
}
#content .content_performance .content_performance_left .left_box {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  max-width: 67.708%;
  background-color: #f7f7f7;
  transition: all 1.5s ease;
}

/* left visible */
.content_performance_left.left_box_visible .left_title_box_icon {
  transform: rotate(180deg);
}
.content_performance_left.left_box_visible .left_box{
  right: 0;
}
/* left active */
.accordian_active .accordian_content {
  border-top: 0;
  height: 100%;
}
.accordian_active .accordian_title::before {
  transform: rotate(255deg);
}

#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner {
  height: 100%;
  margin-left: 50px;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian {
  position: relative;
  width: 100%;
  max-width: 840px;
  margin: 0 auto 60px;
  overflow: hidden;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian
  .accordian_item
  .accordian_title {
  padding-top: 50px;
  position: relative;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian
  .accordian_item
  .accordian_title::before {
  content: "";
  position: absolute;
  top: 65px;
  right: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-right: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian
  .accordian_item
  .accordian_title
  a {
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
  color: #666666;
  display: block;
  padding-bottom: 30px;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian
  .accordian_item
  .accordian_title
  a
  span {
  margin-right: 48px;
  font-size: 40px;
  line-height: inherit;
  font-weight: 600;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian
  .accordian_item
  .accordian_content {
  border-top: 1px solid #dddddd;
  overflow: hidden;
  height: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .accordian
  .accordian_item
  .accordian_content
  p {
  padding-left: 85px;
  color: #666666;
}

#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .button_wrap {
  text-align: center;
}
#content
  .content_performance
  .content_performance_left
  .left_box
  .left_box_inner
  .button_wrap
  a {
  background-color: #ea2126;
  color: #fff;
  padding: 13px 50px;
  border-radius: 5px;
}

/* center */
#content .content_performance .content_performance_center {
  min-width: 35.422%;
  background-color: #f7f7f7;
}
#content .content_performance .content_performance_center .center_box {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#content .content_performance .content_performance_center .center_box p {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "NS BD";
  font-size: 60px;
}
#content .content_performance .content_performance_center .center_box p i {
  display: block;
  width: 138px;
  height: 60px;
  margin: 0 auto 10px;
  background: url(./images/index/@title__performance.png) no-repeat 100% / cover;
}
#content
  .content_performance
  .content_performance_center
  .center_box
  p
  .contents_desc {
  font-family: "NS DL";
  font-size: 28px;
  margin-top: 30px;
}

/* right */
#content .content_performance .content_performance_right {
  min-width: 32.292%;
  height: 100vh;
}
#content .content_performance .content_performance_right .right_title_box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/index/@bg_box-2.jpg) no-repeat 50% / cover;
}
#content .content_performance .content_performance_right .right_title_box p {
  font-family: "NS BD";
  font-size: 60px;
  color: #fff;
}
#content
  .content_performance
  .content_performance_right
  .right_title_box
  .right_title_box_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px 0 0;
  position: relative;
  cursor: pointer;
  background-color: #000000;
  border-radius: 50%;
  background-size: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./images/index/i__arrow_left-white.png);
}

/* inner_right */
#content .content_performance .content_performance_right .inner_right_box {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #cf2327;
  transition: all 1s ease;
}
.left_box_visible .inner_right_box .right_inner_content {
  opacity: 1;
}
.left_box_visible .inner_right_box {
  left: 0;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner {
  display: flex;
  max-width: 1200px;
  height: 630px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner
  .right_inner_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  text-align: left;
  width: 100%;
  height: 630px;
  opacity: 0;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner
  .right_inner_content
  .right_img_box {
  height: 630px;
  margin-left: auto;
  width: 100%;
  max-width: 460px;
  background: url(./images/index/@main__performance.png) no-repeat 100% / cover;
  border-radius: 24px;
  overflow: hidden;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner
  .right_inner_content
  h2 {
  font-size: 52px;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner
  .right_inner_content
  h3 {
  font-size: 32px;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner
  .right_inner_content
  p {
  font-size: 18px;
}
#content
  .content_performance
  .content_performance_right
  .inner_right_box
  .right_inner
  .right_inner_content
  .right_button_wrap
  .right_btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 80px 0 0;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  background-size: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./images/index/i__arrow_left-red.png);
}

/* parters */

#content .content_partners {
  margin: 150px auto;
  background: url(./images/index/@bg_partners.jpg) no-repeat 100% / contain;
  width: 100%;
  padding: 0;
  overflow: hidden;
  min-height: 960px;
}
#content .content_partners .partners_inner {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#content .content_partners .partners_inner .partners_head .partners_head_title {
  font-family: "NS DL";
  font-size: 40px;
  line-height: 60px;
}
#content
  .content_partners
  .partners_inner
  .partners_head
  .partners_head_title
  .title_label {
  display: block;
  font-family: "NS DL";
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #ea2126;
}
#content .content_partners .partners_inner .partners_head p {
  font-family: "NS RG";
  font-size: 18px;
  margin-top: 15px;
}
#content .content_partners .partners_inner .content_partners_wrap {
  position: relative;
  margin-top: 70px;
  opacity: 1;
}
/* 그래프 애니메이션 */

/* graph */
#content .content_partners .partners_inner .content_partners_wrap .graph_wrap1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
#content .content_partners .partners_inner .content_partners_wrap .graph_bar {
  opacity: 0;
  animation: graphBarIn 1.5s ease forwards;
}
#content .content_partners .partners_inner .content_partners_wrap .graph_title {
  opacity: 0;
  animation: graphTextIn 1s ease forwards;
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap1
  .graph_title {
  text-align: end;
  margin-bottom: 15px;
  font-family: "NS MD";
  font-size: 18px;
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap1
  .graph_bar {
  width: 100%;
  max-width: 85.16%;
  height: 40px;
  background-color: #000000;
  margin-bottom: 50px;
  margin-left: auto;
  border-radius: 20px;
  position: relative;
}

#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap1
  .graph_bar
  .graph_info {
  position: absolute;
  bottom: 5px;
  right: calc(100% + 65px);
}

#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap1
  .graph_bar
  .graph_info
  .graph_info_unit {
  position: absolute;
  right: -44.5px;
  bottom: 0.5px;
}

/* --2 */
#content .content_partners .partners_inner .content_partners_wrap .graph_wrap2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap2
  .graph_title {
  text-align: end;
  margin-bottom: 15px;
  font-size: 18px;
  animation-delay: 0.25s;
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap2
  .graph_bar {
  width: 100%;
  max-width: 48.46%;
  height: 40px;
  background-color: #d12327;
  color: #d12327;
  margin-bottom: 50px;
  margin-left: auto;
  border-radius: 20px;
  position: relative;
  animation-delay: 0.25s;
}

#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap2
  .graph_bar
  .graph_info {
  position: absolute;
  bottom: 8px;
  right: calc(100% + 45px);
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap2
  .graph_bar
  .graph_info
  .graph_info_unit {
  position: absolute;
  right: -26.5px;
  bottom: 1.5px;
}
/* --3 */
#content .content_partners .partners_inner .content_partners_wrap .graph_wrap3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap3
  .graph_title {
  text-align: end;
  margin-bottom: 15px;
  font-size: 18px;
  animation-delay: 0.5s;
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap3
  .graph_bar {
  width: 100%;
  max-width: 76.84%;
  height: 40px;
  background-color: #666666;
  color: #666666;
  margin-bottom: 50px;
  margin-left: auto;
  border-radius: 20px;
  position: relative;
  animation-delay: 0.5s;
}

#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap3
  .graph_bar
  .graph_info {
  position: absolute;
  bottom: 8px;
  right: calc(100% + 45px);
}
#content
  .content_partners
  .partners_inner
  .content_partners_wrap
  .graph_wrap3
  .graph_bar
  .graph_info
  .graph_info_unit {
  position: absolute;
  right: -26.5px;
  bottom: 1.5px;
}
#content .content_partners .partners_inner .content_partners_wrap .graph_index {
  color: #666666;
  text-align: end;
}

/* banner */

#banner .banner_blet #swiper {
  width: 100%;
}
#banner .banner_blet #swiper .swiper_wrapper {
  width: 100%;
  height: auto;
  display: flex;
}
#banner .banner_blet #swiper .swiper_wrapper .swiper_slide {
  width: 211px;
  height: 62px;
  overflow: hidden;
  filter: grayscale(100%);
  opacity: 0.5;
}
#banner .banner_blet #swiper .swiper_wrapper .slide1 {
  background: url(./images/index/mo_logo_01.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide2 {
  background: url(./images/index/mo_logo_02.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide3 {
  background: url(./images/index/mo_logo_03.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide4 {
  background: url(./images/index/mo_logo_04.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide5 {
  background: url(./images/index/mo_logo_05.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide6 {
  background: url(./images/index/mo_logo_06.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide7 {
  background: url(./images/index/mo_logo_17.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide8 {
  background: url(./images/index/mo_logo_18.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide9 {
  background: url(./images/index/mo_logo_19.png) no-repeat 50% / cover;
}
#banner .banner_blet #swiper .swiper_wrapper .slide10 {
  background: url(./images/index/mo_logo_20.png) no-repeat 50% / cover;
}

.top_button {
  position: fixed;
  bottom: 60px;
  width: 50px;
  height: 50px;
  right: 25px;
  margin-top: -65px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(224 224 224 / 80%);
  opacity: 0;
  z-index: 9;
  transition: 0.3s ease;
}
.top_button::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 6.5px;
  height: 6.5px;
  margin-top: -3.5px;
  margin-left: 21px;
  border-top: 1.5px solid #000000;
  border-right: 1.5px solid #000000;
  transform: rotate(-45deg);
}

.top_button.on{
  opacity: 1;
}